<div class="sidenav">
    <div class="sidenav-header">
        <h1>GGVI</h1>
        <h6>Full Stack Developer</h6>
    </div>
    <div class="sidenav-nav">
        <button class="sidenav-nav-button" routerLink="/home" aria-current="page">home</button>
        <button class="sidenav-nav-button" routerLink="/about" aria-current="page">about</button>
        <button class="sidenav-nav-button" routerLink="/portfolio" aria-current="page">portfolio</button>
    </div>
    <div class="sidenav-resume">
        <p class="mb-0">download resume</p>
    </div>
    <div class="sidenav-social">
        <span class="social-icon">
            <a class="fa-solid fa-xl fa-at" href="mailto:ggordonvi@gmail.com"></a> 
        </span>
        <span class="social-icon">
            <a class="fa-brands fa-xl fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/ggordon-vi/"></a>
        </span>
        <span class="social-icon">
            <a class="fa-brands fa-xl fa-github"  target="_blank" href="https://github.com/ggordonvi"></a>
        </span>
    </div>
</div>