
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidenav-header {
    color: var(--white);
}

.sidenav-nav {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav-nav-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: unset;
    border: none;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    font-size: 20px;
    color: var(--white);
}
.sidenav-nav-button:hover {
    background-color: var(--primary-1);
    transition: 0.2s ease-in;
}

.sidenav-resume {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.sidenav-social {
    display: flex;
    justify-content: center;
}
.social-icon {
    padding: 10px;
}
.social-icon a {
    text-decoration: none !important;
    color: var(--white);
}
.social-icon a:hover {
    color: var(--black);
    transform: scale(1.2);
}