.footer {
    background-color: var(--black-2);
    padding-left: 50px;
    padding-right: 50px;
    min-height: var(--footer-height);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.version {
    font-family: "secondary", Arial, Helvetica, sans-serif;
    color: var(--white-2);
    font-size: 2rem;
    letter-spacing: 3px;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    padding: 15px;
}
.social-icon a {
    color: var(--white-2);
    text-decoration: none !important;
}
.social-icon a:hover {
    color: var(--white-1);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
    .info {
        text-align: left;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}