<div class="footer container-fluid">
    <div class="row">
        <div class="col-md-6">
            <span class="section-header">Socials</span>
        </div>
        <div class="col-md-6">
            <div class="social float-end">
                <span class="social-icon">
                    <a class="fa-solid fa-2xl fa-at" href="mailto:ggordonvi@gmail.com"></a> 
                </span>
                <span class="social-icon">
                    <a class="fa-brands fa-2xl fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/ggordon-vi/"></a>
                </span>
                <span class="social-icon">
                    <a class="fa-brands fa-2xl fa-github"  target="_blank" href="https://github.com/ggordonvi"></a>
                </span>
            </div>
        </div>
    </div>
</div>