.footer {
    padding-top: 50px;
    padding-bottom:50px;
}

.social {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    padding: 15px;
}
.social-icon a {
    color: rgba(1, 1, 1, 0.50);
    text-decoration: none !important;
}
.social-icon a:hover {
    color: rgba(1, 1, 1, 0.75);
}