.navbar {
    height: var(--navbar-height);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    justify-content: flex-end;
    /* padding-left: 50px;
    padding-right: 50px; */
}
.navbar-scroll {
    background-color: var(--black-2) !important;
}

.nav {
    height: 100%;
}

.nav-brand {
    font-family: "secondary", Arial, Helvetica, sans-serif !important;
    height: 100%;
    color: var(--white-1);
    font-size: 2.5rem;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}

.logo {
    width: 100px;
}

.nav-item {
    margin-bottom: 0 !important;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "secondary", Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--white-2);
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-link:hover {
    color: var(--white-1);
}

.active-link {
    color: var(--white-1);
    padding-top: 2px;
    border-bottom: 2px solid var(--primary-1);
}