<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
        <!-- <a class="navbar-brand" href="#"> -->
            <img class="img-fluid" style="height: 100px;" src="../../../assets/logo.svg">
        <!-- </a> -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-link" aria-current="page">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active-link" aria-current="page">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/skills" routerLinkActive="active-link" aria-current="page">experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link" aria-current="page">portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" aria-current="page">contact</a>
            </li>
        </ul>
    </div>
</nav>