<nav class="navbar fixed-top" id="navbar">
    <div class="nav-brand">GGVI</div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">about</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/skills" routerLinkActive="active-link">experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link">portfolio</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">contact</a>
        </li> -->
    </ul>
</nav>