<div class="container">
    <div class="mobile-nav">

        <!-- <div class="nav-brand">GGVI</div>  -->

        <div class="mobile-nav-open">
            <button type="button" class="mobile-nav-button" aria-label="Open Menu" (click)="openMenu()">
                <i class="fa-solid fa-bars fa-xl"></i>
            </button>
        </div>
    
        <div class="mobile-nav-overlay" id="mobile-nav-overlay" [style.width]="navOverlayWidth">
            <div class="mobile-nav-menu">
                <div class="mobile-nav-menu-header">directory.</div>
                <div class="mobile-nav-close">
                    <button type="button" class="mobile-nav-button" aria-label="Close Menu" (click)="closeMenu()">
                        <i class="fa-solid fa-xmark fa-xl" style="color:#ffffff"></i>
                    </button>
                </div>
            </div>
    
            <div class="mobile-nav-body">
                <div class="mobile-nav-link-button" routerLink="/home" routerLinkActive="active-link" (click)="closeMenu()">
                    home
                </div>
                <div class="mobile-nav-link-button" routerLink="/about" routerLinkActive="active-link" (click)="closeMenu()">
                    about
                </div>
                <div class="mobile-nav-link-button" routerLink="/skills" routerLinkActive="active-link" (click)="closeMenu()">
                    skills
                </div>
                <div class="mobile-nav-link-button" routerLink="/portfolio" routerLinkActive="active-link" (click)="closeMenu()">
                    portfolio
                </div>
                <!-- <div class="mobile-nav-link-button" routerLink="/contact" routerLinkActive="active-link" (click)="closeMenu()">
                    contact
                </div> -->
            </div>
    
        </div>
    
    </div>
    
</div>