
.mobile-nav {
    /* height: var(--mobile-navbar-height); */
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.mobile-nav-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}

.nav-brand {
    font-family: "secondary", Arial, Helvetica, sans-serif !important;
    color: var(--white-1);
    font-size: 2.5rem;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}

.mobile-nav-open {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}

.mobile-nav-button {
    margin: 20px;
    width: 50px;
    height: 50px;
    border: none !important;
    color: var(--white-1);
    background-color: var(--black-2);
}
.mobile-nav-button:hover {
    border: 4px solid rgb(61, 138, 61);
}

.mobile-nav-overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: var(--black-1);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: height 0.5s ease-in; /*0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    z-index: 1000;
}

.mobile-nav-menu {
    height: var(--mobile-navbar-height);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.mobile-nav-menu-header {
    font-family: "secondary", Arial, Helvetica, sans-serif !important;
    color: var(--white-1);
    font-size: 2.5rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}

.mobile-nav-close {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;

}

.mobile-nav-body {
    /* min-height: 400px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.mobile-nav-link-button {
    /* background-color: #ffffff; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /* width: 60%; */
    /* border-radius: 10px 10px; */
    /* text-align: center; */
    font-family: "secondary", Arial, Helvetica, sans-serif !important;
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--white-2);
}
.mobile-nav-link-button:hover {
    color: var(--white-1);
}

.mobile-nav-link {
    margin-bottom: 0 !important;
    font-family: "secondary", Arial, Helvetica, sans-serif !important;
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--white-2);
}

.active-link {
    color: var(--white-1) !important;
    border-bottom: 2px solid var(--primary-1);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    /* flex-direction: column; */
    padding-bottom: 10px;
}

.info {
    text-align: center;
    display: flex;
    width: 100%;
    padding-left: 15px;
}

.version {
    font-family: "secondary", Arial, Helvetica, sans-serif;
    color: var(--white-2);
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    padding: 15px;
}
.social-icon a {
    color: var(--white-2);
    text-decoration: none !important;
}
.social-icon a:hover {
    color: var(--white-1);
}