<div class="section">

    <div class="code">&lt;app-portfolio&gt;</div>
    <span class="section-header">Portfolio</span>

    <router-outlet name="portfolio"></router-outlet>

    <!-- <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <div class="row g-0 portfolio-card position-relative mb-3 shadow">
                <div class="col-md-5 mb-md-0 p-md-4">
                    <div src="..." class="w-100 image-placeholder" alt="..."></div>
                </div>
                <div class="col-md-7 p-4 ps-md-0">
                    <h2 class="mt-0">Seating App</h2>
                    <h4>MEAN Stack Web Application</h4>
                    <h4 class="pt-4">Core Features</h4>
                    <ul>
                        <li>Angular 7, Node.js, Express, Mongoose</li>
                        <li>Password hashing and session tokens</li>
                        <li>Fluid UI reactions to user selection</li>
                        <li>RESTful API and CRUD database operations</li>
                        <li>Jasmine and Karma unit testing</li>
                        <li>Selenium behavioral testing</li>
                        <li>Interactive floorplans built with Fabric.js framework</li>
                        <li>AWS Elastic Beanstalk and MongoDB hosting</li>
                    </ul>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>           
        </div>
    </div> -->



    <div class="code">&lt;app-portfolio&gt;</div>

</div>
