.resume-btn {
    font-family: "secondary", Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
    height: 50px;
    background-color: var(--primary-3);
    color: var(--white-1);
}
.resume-btn:hover {
    background-color: var(--primary-2);
}

.experience-box {
    background-color: var(--black-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    padding: 20px;
}

.experience-subheader {
    font-family: "secondary", Arial, Helvetica, sans-serif;
    color: var(--primary-1);
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(255 255 255 / 30%);
}


.skill-header {
    font-family: "secondary", Arial, Helvetica, sans-serif;
    color: var(--white-1);
    font-size: 1.25rem;
    letter-spacing: 3px;
}

.progress {
    background-color: var(--black-3) !important;
    height: 10px;
}
.progress-bar {
    background-color: var(--primary-2) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}