<div class="section">
    <div class="code">&lt;div class="section"&gt;</div>
    <div class="code" style="margin-left:20px">&lt;span class="section-header"&gt;</div>

    <span class="section-header">Experience</span>

    <div class="code" style="margin-left:20px">&lt;/span&gt;</div>
    <div class="code" style="margin-left:20px">&lt;div class="row"&gt;</div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-md-5 offset-lg-1 col-lg-4">
                <!-- Resume button group -->
                <button class="btn btn-primary resume-btn mb-2 shadow-sm">view 2022 resume</button>
                <button class="btn btn-success resume-btn shadow-sm">download 2022 resume</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1 mt-4 mb-4">

                <div class="section-subheader">Professional</div>
                <div class="mt-1" style="background-color: rgba(117, 117, 117, 0.268);height: 250px;">

                </div>    
                
    
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 mt-4 mb-4">

                <div class="section-subheader">Skills</div>
    
                <div class="row mb-3">
                    <div class="col-sm-2" style="text-align: center;">
                        <i class="fa-brands fa-angular fa-2xl"></i> 
                    </div>
                    <div class="col-sm-10" style="margin-top:auto;margin-bottom:auto;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                </div>
    
                <div class="row mt-3 mb-3">
                    <div class="col-sm-2" style="text-align: center;">
                        <i class="fa-brands fa-angular fa-2xl"></i> 
                    </div>
                    <div class="col-sm-10" style="margin-top:auto;margin-bottom:auto;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%"></div>
                        </div>
                    </div>
                </div>
    
                <div class="row mt-3 mb-3">
                    <div class="col-sm-2" style="text-align: center;">
                        <i class="fa-brands fa-angular fa-2xl"></i> 
                    </div>
                    <div class="col-sm-10" style="margin-top:auto;margin-bottom:auto;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                        </div>
                    </div>
                </div>
    
                <div class="row mt-3">
                    <div class="col-sm-2" style="text-align: center;">
                        <i class="fa-brands fa-angular fa-2xl"></i> 
                    </div>
                    <div class="col-sm-10" style="margin-top:auto;margin-bottom:auto;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

    </div>

</div>
