<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 pb-3">
                <h1>Hello! I'm a web developer primarily focused on UI / UX development.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>My story.</h4>
                <p>My name is George Gordon VI but to make easier just call me Eddie. I was born and raised in Southern California. I graduated from the University of South Carolina with a bachelor’s degree in Computer Information Systems and Business Information Management. I have been extremely fortunate to travel and live on both sides of the country. I have a love for sports, especially if you mention beach volleyball.</p>
                <h4>My passion.</h4>
                <p>I am immensely passionate about every aspect of web development. I have always had the “let’s see if I can do it” mentality. I started publishing content online when I was 14 years old. From portfolio websites built in simple HTML and CSS, to websites built with server-side logic like PHP. Then moving on to more structured frameworks and libraries like Angular and React, along with using more flexible server-side frameworks like Express JS. The entire process from concept, to design, to functionality and usability, and eventually deployment absolutely intrigues me. I am a front-end web developer with full stack knowledge.</p>    
            </div>
        </div>
    </div>
</div>