<div class="section">
    <div class="container">
        <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="col-md-6 offset-md-1 pb-3">
                <h1 class="pb-3">In the beginning...</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl magna, vulputate auctor mi eget, ullamcorper sollicitudin diam. Sed rutrum euismod convallis. Morbi efficitur vulputate felis, eu elementum ligula vehicula vel. Nam scelerisque rhoncus ex, ut cursus erat lobortis laoreet. Nam at tellus vulputate, ornare lectus ut, lobortis ex. Phasellus nec ullamcorper ligula. Quisque at erat scelerisque, porttitor odio et, maximus arcu.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="col-md-6 offset-md-6 pb-3">
                <h1 class="pb-3">..the transition</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl magna, vulputate auctor mi eget, ullamcorper sollicitudin diam. Sed rutrum euismod convallis. Morbi efficitur vulputate felis, eu elementum ligula vehicula vel. Nam scelerisque rhoncus ex, ut cursus erat lobortis laoreet. Nam at tellus vulputate, ornare lectus ut, lobortis ex. Phasellus nec ullamcorper ligula. Quisque at erat scelerisque, porttitor odio et, maximus arcu.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="col-md-6 offset-md-1 pb-3">
                <h1 class="pb-3">..the hobbies</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl magna, vulputate auctor mi eget, ullamcorper sollicitudin diam. Sed rutrum euismod convallis. Morbi efficitur vulputate felis, eu elementum ligula vehicula vel. Nam scelerisque rhoncus ex, ut cursus erat lobortis laoreet. Nam at tellus vulputate, ornare lectus ut, lobortis ex. Phasellus nec ullamcorper ligula. Quisque at erat scelerisque, porttitor odio et, maximus arcu.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="col-md-6 offset-md-6 pb-3">
                <h1 class="pb-3">..the start!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl magna, vulputate auctor mi eget, ullamcorper sollicitudin diam. Sed rutrum euismod convallis. Morbi efficitur vulputate felis, eu elementum ligula vehicula vel. Nam scelerisque rhoncus ex, ut cursus erat lobortis laoreet. Nam at tellus vulputate, ornare lectus ut, lobortis ex. Phasellus nec ullamcorper ligula. Quisque at erat scelerisque, porttitor odio et, maximus arcu.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 200px; margin-bottom: 100px;">
            <div class="col-md-8 offset-md-2">
                <h1 class="pb-3">Hello! I'm a web developer primarily focused on UI / UX development.</h1>
                <h4>My story.</h4>
                <p>My name is George Gordon VI but to make easier just call me Eddie. I was born and raised in Southern California. I graduated from the University of South Carolina with a bachelor’s degree in Computer Information Systems and Business Information Management. I have been extremely fortunate to travel and live on both sides of the country. I have a love for sports, especially if you mention beach volleyball.</p>
                <h4>My passion.</h4>
                <p>I am immensely passionate about every aspect of web development. I have always had the “let’s see if I can do it” mentality. I started publishing content online when I was 14 years old. From portfolio websites built in simple HTML and CSS, to websites built with server-side logic like PHP. Then moving on to more structured frameworks and libraries like Angular and React, along with using more flexible server-side frameworks like Express JS. The entire process from concept, to design, to functionality and usability, and eventually deployment absolutely intrigues me. I am a front-end web developer with full stack knowledge.</p>    
            </div>
        </div>
    </div>
</div>