.image {
    padding: 0 !important;
    /* width: 300px;
    height: 300px; */
}

.world {
    /* width: 300px;
    height: 300px; */
}

.day {
    transform: rotate(45turn) !important;
}
.night {
    transform: rotate(45,-556.9 -75.655) !important;
}