.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.banner-text {
    margin-top: auto;
    margin-bottom: auto;
}

.action-item-scroll {
    text-align: center;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

  .fa-jump {
    animation: bounce 3s ease-in 1s 2 reverse;
}