<div class="section">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="banner">
                <span class="helper-text">{{defaultGreeting}}</span>
                <span class="banner-text">GEORGE GORDON VI</span>
                <span class="banner-subtext">I build web content through creative problem solving.</span>
                <span class="banner-content">I am a full stack developer focused on creating the best possible user experience through highly functional yet captivating code.</span>
            </div>
        </div>
    </div>
    
    <app-about></app-about>
    <app-experience></app-experience>
    <!-- <app-projects></app-projects> -->
    <!-- <app-contact></app-contact> -->

</div>
