<div class="">
    <div class="">
        <div class="banner">
            <div class="banner-text">
                <h1>{{ defaultGreeting }}, </h1>
                <h2>I'm George but you can call me Eddie</h2>
                <h2>I like coding things!</h2>
            </div>
            <div class="action-item-scroll">
                <p>scroll down to learn more!</p>
                <i class="fa-jump fa-solid fa-arrow-down fa-2xl"></i>
            </div>
        </div>
        <app-about></app-about>
        <app-portfolio></app-portfolio>
    </div>
</div>
