.banner {
  /* min-height: calc(100vh - var(--navbar-height)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helper-text {
  font-family: "test2", Arial, Helvetica, sans-serif;
  color: var(--white-2);
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner-text {
  font-family: "test1", Arial, Helvetica, sans-serif;
  color: var(--white-1);
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-subtext {
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  color: var(--primary-2);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.banner-content {
  font-family: "primary", Arial, Helvetica, sans-serif;
  color: var(--white-2);
  font-size: 1.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}