
/* .portfolio-card {
    background-color: var(--black-3);
    color: var(--white-1);
    height: 300px;
} */

.image-placeholder {
    background-color:rgba(217, 217, 217, 0.278);
    height: 100%;
}