/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "BebasNeue";
    src: local("BebasNeue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "KaushanScript";
    src: local("KaushanScript"), url(./assets/fonts/KaushanScript-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ArchitectsDaughter";
    src: local("ArchitectsDaughter"), url(./assets/fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "AmaticSC-Regular";
    src: local("AmaticSC-Regular"), url(./assets/fonts/AmaticSC-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "AmaticSC-Bold";
    src: local("AmaticSC-Bold"), url(./assets/fonts/AmaticSC-Bold.ttf) format("truetype");
}

:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #c9c9c9;

    --primary: #486b80;
    --offset: #353232;

    --sidenav-size: 250px;
}

html {
    height:100%;
    width:100%;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height:100%;
    width:100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.row-spacer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.code {
    font-family: "ArchitectsDaughter", Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* letter-spacing: 2px; */
    color: rgba(1, 1, 1, 0.3);
}

.section-header {
    font-family: "BebasNeue", Arial, Helvetica, sans-serif;
    color: rgba(1, 1, 1, 0.15);
    font-size: 5rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section-header {
        font-size: 10rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section-header {
        font-size: 10rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-header {
        font-size: 15rem;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}