/* You can add global styles to this file, and also import other style files */

:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #c9c9c9;

    --primary: #486b80;
    --offset: #353232;

    --sidenav-size: 250px;
}

html {
    height:100%;
    width:100%;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height:100%;
    width:100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}